body {
	font-weight: bold;
	/*color: rgba(0, 82, 156, 1);*/
	/*background: rgba(0, 82, 156, 0.1);*/
}

div.dz-details img {
	padding-left: 50px!important;
}

/*#previewsContainer > div > div.dz-details > img*/

#droparea{
	width: 400px;
	min-height: 400px;
	border-radius: 25px;
	margin: 30px auto 0;
	padding: 0 20px 20px 20px!important;
	border: 4px dotted #8A120A!important;
	/*rgba(0, 82, 156, 0.8);*/
}

#previewsContainer {
	min-width: 280px;
	max-width: 280px;
	min-height: 280px;
	max-height: 280px;
	padding: 10px 20px;
	background: #FFF;
	margin: 0 auto 20px 20px;
}

#selectImage {
	color: #FFF;
	border-radius: 10px;
	width: 150px;
	text-align: center;
	margin: 0 30px;
	padding: 10px 0;
	background: #8A120A!important;
	float: left;
	cursor: pointer;
}

#fileSubmit {
	color: #FFF;
	border-radius: 10px;
	width: 150px;
	margin: 0 0 0 10px;
	text-align: center;
	padding: 10px 0;
	background: #8A120A!important;
	float: left;
	cursor: pointer;
}

div.previewsContainer img {
    display: block!important;
    margin-left: auto!important;
    margin-right: auto!important;
}
