<!DOCTYPE HTML>
<html lang="en">
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="{{url_for('css_static', filename='style.css')}}">
</head>
<body>




<div>

<div id="droparea">
	<p>Drop Wine Label Here</p>

	<div id="previewsContainer">
		<!-- <p>previewsContainer</p> -->
    </div>

    <div id="selectImage">Select Image</div>
    <div id="fileSubmit">Submit</div>
</div>
</div>




</div>

<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script type="text/javascript" src="js/dropzone.js"></script>
<script type="text/javascript" src="{{url_for('js_static', filename='app.js')}}"></script>
</body>
</html>
